
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$bodyFont: Arial, sans-serif;
$headerFont: 'Quicksand', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin not-mobile {
  @media screen and (min-width: 640px) {
    @content;
  }
}